.x-content-wrapper {
  display: flex;
  margin-left: 25px;
  margin-top: 25px;
  margin-right: 25px;
}

.x-content {
  width: 100%;
}

.y-content-wrapper {
  display: flex;
  margin-right: 50px;
  flex-direction: column;
}

.y-content {
  min-height: 50vh;
  max-height: 75vh;
  overflow-y: auto;
}

.page-wrap {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.content {
  flex: 1;
}

:host {
  --host-control-btn-size: 25px;
}

.host-control-btn {
  margin: 0 !important;
  font-size: var(--host-control-btn-size) !important;
  height: var(--host-control-btn-size) !important;
  width: var(--host-control-btn-size) !important;
}
